@model IEnumerable<TheEviction.Entities.Models.Client>

<div id="dialog-create-client" style="display: none">
</div>
<div id="dialog-edit-client" style="display: none">
</div>

@section scripts {

    <script src="~/js/formModal.js"></script>
    <environment exclude="Development">
        <script src="~/lib/_app/datatables.js"></script>
    </environment>
    <environment include="Development">
        <script src="~/js/datatables.js"></script>
    </environment>
    <script type="text/javascript">
        $(function () {
            $('.search').click(function () {
                var id = $(this).data('assigned-id');
                var route = '@Url.Action("EditClient", "Client")?id=' + id;
                $('#partial').load(route);
            });

            $('#newClient').click(function () {
                var route = '@Url.Action("CreateClient", "Client")';
                $('#partial').load(route);
            });
        });
    </script>
}
<div class="row">
    <div class="col-md-12">
        <a id="newClient" class="btn btn-success" data-toggle="modal" data-target="#editClientModalLong">Create New</a>      
    </div>
</div>
<br />
<div class="row">
    <table id="tblClient" class="table table-bordered table-active table-responsive">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ClientName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contact)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyType)
                </th>
                <th style="display:none">
                    @Html.DisplayNameFor(model => model.ClientId)
                </th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contact.ContactName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyType.CompanyTypeName)
                    </td>
                    <td style="display:none">
                        @Html.DisplayFor(modelItem => item.ClientId)
                    </td>
                    <td>
                        <a class="search" data-assigned-id="@item.ClientId" data-toggle="modal" data-target="#editClientModalLong">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div class="modal fade in" id="editClientModalLong" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content" style="margin: 10px auto !important;">
            <div class="modal-header">
                @*<button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>*@
            </div>
            <div class="modal-body">
                <div id="partial"></div>
            </div>
        </div>
    </div>
</div>

