@model IEnumerable<TheEviction.Entities.Models.Client>

<div id="dialog-create-client" style="display: none">
</div>

@section scripts {
    <environment exclude="Development">
        <script src="~/lib/_app/datatables.js"></script>
    </environment>
    <environment include="Development">
        <script src="~/js/datatables.js"></script>
    </environment>
}
<div class="row">
    <div class="col-md-12">
        <a id="newClient" class="btn btn-success">Create New</a>
        <p id="linkCreateClient" style="display: none">
            <a asp-controller="Client" asp-action="CreateClient" id="lnkCreateClient"></a>
        </p>
    </div>
</div>
<br />
<div class="row">
    <table id="tblClient" class="table table-bordered table-active table-responsive">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ClientName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contact)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyType)
                </th>
                <th style="display:none">
                    @Html.DisplayNameFor(model => model.ClientId)
                </th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contact.ContactName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyType.CompanyTypeName)
                    </td>
                    <td style="display:none">
                        @Html.DisplayFor(modelItem => item.ClientId)
                    </td>
                    <td>
                        <a asp-action="Edit">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
