@model IEnumerable<TheEviction.Entities.Models.Client>

@section scripts {
    <environment exclude="Development">
        <script src="~/lib/_app/datatables.js"></script>
    </environment>
    <environment include="Development">
        <script src="~/js/datatables.js"></script>
    </environment>
}
<div class="row">
    <div class="col-md-12">
        <a asp-action="Create" class="btn btn-success">Create New</a>
        <a asp-action="Edit" class="btn btn-primary">Edit</a>
    </div>
</div>
<br />
<div class="row">
    <table id="tblClient" class="table table-bordered table-active table-responsive">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ClientName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Contact)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CompanyType)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClientName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Contact.ContactName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CompanyType.CompanyTypeName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>